alias g='git' 
alias gs='git status' 
alias gd='git diff'
alias gcm='git commit -m'
alias gC='git checkout'
alias gca='git commit -am'
alias gcan='git commit --amend --no-edit'
alias gco='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gp='git push'
alias gpo='git push origin'
alias gP='git pull'
alias gPo='git pull origin'
alias ga='git add'
alias gau='git add -u'
alias grhh='git reset --hard HEAD'
alias gl='git log'
alias grl='git reflog'
alias t='tmux'
alias n='NVIM_APPNAME=nvim_custom nvim'
alias f='flutter'
alias g='git'
alias rf='rm -rf'
alias n9='/Users/alansilva/code/repos/neovim/build/bin/nvim'
alias p='python3'
alias ll='ls -lh'

bindkey "^P" history-beginning-search-backward
bindkey "^N" history-beginning-search-forward
