alias g='git' 
alias gs='git status' 
alias gd='git diff'
alias gld='git diff HEAD^1'
alias gcm='git commit -m'
alias gC='git checkout'
alias gca='git commit -am'
alias gcan='git commit --amend --no-edit'
alias gco='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gp='git push'
alias gpg='git push github'
alias gpd='git push deck'
alias gP='git pull'
alias gPg='git pull github'
alias gPd='git pull deck'
alias ga='git add'
alias gau='git add -u'
alias gr='git reset'
alias grhh='git reset --hard HEAD'
alias gl='git log'
alias grl='git reflog'
alias t='tmux'
alias n='nvim'
alias f='flutter'
alias g='git'
alias rf='rm -rf'
alias n9='/Users/alansilva/code/repos/neovim/build/bin/nvim'
alias p='python3'
alias ppi='python3 -m pip install'
alias ppt='python3 -m pytest'
alias ll='ls -lh'
alias lla='ls -lah'
alias ufbt="python3 -m ufbt"

if [ -n "$ZSH_VERSION" ]; then
  bindkey "^P" history-beginning-search-backward
  bindkey "^N" history-beginning-search-forward
fi
