alias g='git' 
alias gs='git status' 
alias gd='git diff'
alias gcm='git commit -m'
alias gC='git checkout'
alias gca='git commit -am'
alias gcan='git commit --amend --no-edit'
alias gco='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gp='git push'
alias gpo='git push origin'
alias gP='git pull'
alias gPo='git pull origin'
alias ga='git add'
alias gau='git add -u'
alias t='tmux'
alias n='nvim'
alias f='flutter'
alias rf='rm -rf'
